<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">BOOKS LIBRARY</a>
    <% if (!noBtn) {%>
        <a class="btn btn-sm btn-light" href="/create"> 
            Добавить книгу
        </a>
    <% } %>
</nav>