<%- include("../layouts/start", {title: title}) %>
<%- include("../layouts/menu") %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-6"><%= title %></h1>
    </div>
</div>

<%- include("../layouts/end") %>
